<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzy.boot.mapper.UserMapper">
    <update id="updateUser">
        UPDATE user
        SET
            `real_name`= #{realName},
            `gender`= #{gender},
            `birthday`= #{birthday},
            `user_type`= #{userType}
        WHERE `id`= #{id}
    </update>


    <select id="getUsers" resultType="com.qzy.boot.entities.User">
        select * from user where 1 = 1
        <if test="username != null and user != ''">
            and username = #{username}
        </if>
    </select>
    <select id="getUserById" resultType="com.qzy.boot.entities.User">
        select * from user where id=#{id}
    </select>
</mapper>